<a href="https://colab.research.google.com/github/minho1110/BP_10_Ch4/blob/main/EXE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1번.문자열과 정수(모든 숫자)는 합칠 수 없다. 만약 합하고 싶다면 , (Comma)를 사용하거나 혹은 숫자를 형변환 해야한다. "나는',12, '개의 사과를 먹었다.'" 혹은 "'나는' + (str)(12) + '개의 사과를 먹었다.' "가 답이다.

2번.첫번째는 +이니 applegrape이며 두번째는 *3이므로 appleappleapple이다

In [5]:
s = input("문자열을 입력하시오: ")
print(s[0:2] + s[4:])

문자열을 입력하시오: python
pyon

In [6]:
str = input("문자열을 입력하시오: ")
print(str + "하는 중")

문자열을 입력하시오: 청소
청소하는 중

In [7]:
p = input("기호를 입력해주세요 : ")
s = input("중간에 삽입할 문자열을 입력하시오 : ")

print(p[0] + s + p[1])

기호를 입력해주세요 : []
중간에 삽입할 문자열을 입력하시오 : python
[python]

In [8]:
list = ['1', '2', '3', '4']

sum = int(list[0]) + int(list[1]) + int(list[2]) + int(list[3])

print("리스트 = ", list)
print("리스트 숫자들의 합 : ", sum)

리스트 =  ['1', '2', '3', '4']
리스트 숫자들의 합 :  10